
$light-bg : rgb(60 60 60 / 42%);
$dark-bg : #000;
$color-primary : #7DCE13;
$dark-text: rgb(34, 34, 34);
$yellow-text: #EAE509;

@mixin blur-bg {
    backdrop-filter: blur(10px);
    box-shadow:0 0px 4px -1px rgb(255 255 255);;
}

@mixin text-glow {
    text-shadow: 0 0px 33px rgb(255 255 255 / 81%) ;
}

@mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin row-flex-justify-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin row-flex-justify-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@mixin column-flex-align-flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin icon_button {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.2rem;
    cursor: pointer;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border-radius: 5px;
      max-height: 5px;
      &:hover{
          background-color: #fffb00ce;
      }
      
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
}

@mixin add_button_style {
    .add_btn{
        background-color: transparent;
        border: 2px solid transparent;
        color: rgba(255, 255, 0, 0.356);
        padding-right: 1rem;
        height: 1.5rem;
        font-size: 0.8rem;
        &:hover{
          color: rgba(255, 255, 0, 0.89);
          border: 2px solid rgba(255, 255, 0, 0.89);
        }
        svg{
            font-size: 1rem;
        }
      }
}
